AWSTemplateFormatVersion: "2010-09-09"
Description: "Creates SecretsManager secrets"

Resources:
  {% for secret_entry in sceptre_user_data.SecretEntries %}
  {% for name, data in secret_entry.items() %}
  {{ name }}:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: {{ data.Name }}
      Description: {{ data.Description | default('None')}}
      GenerateSecretString: {{ data.GenerateSecretString | tojson }}

  {% endfor %}
  {% endfor %}

Outputs:
  {% for secret_entry in sceptre_user_data.SecretEntries %}
  {% for name, data in secret_entry.items() %}
  {{ name }}Arn:
    Description: "SecretsManager Secret ARN for {{ name }}"
    Value: !Ref {{ name }}
  {% endfor %}
  {% endfor %}